# Inspired by https://github.com/Danimoth/gitattributes/
# Set default line ending behavior in git repo. Overrides .gitconfig autocrlf configuration.

# Set the default behavior, in case people don't have core.autocrlf set
*           text=auto

# Documents
*.doc       diff=astextplain
*.DOC       diff=astextplain
*.docx      diff=astextplain
*.DOCX      diff=astextplain
*.dot       diff=astextplain
*.DOT       diff=astextplain
*.pdf       diff=astextplain
*.PDF       diff=astextplain
*.rtf       diff=astextplain
*.RTF       diff=astextplain
*.md        text
*.adoc      text
*.csv       text
*.tab       text
*.tsv       text
*.sql       text
*.textile   text
*.mustache  text

# Graphics
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.tif       binary
*.tiff      binary
*.ico       binary
*.svg       text
*.eps       binary

# Visual Studio and .NET
*.sln       text eol=crlf merge=union
*.csproj    text eol=crlf merge=union
*.vbproj    text eol=crlf merge=union
*.fsproj    text eol=crlf merge=union
*.dbproj    text eol=crlf merge=union
*.cs        text diff=csharp
*.config    text eol=crlf

# Web
*.xml       text
*.json      text
*.htm       text
*.html      text
*.js        text
*.ts        text
*.cshtml    text

# Windows
*.bat       text

# PowerShell script files
*.ps1       text

# Whitespace options
* whitespace=trailing-space,space-before-tab,tab-in-indent,tabwidth=4
