<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Shared repository-local feed for development packages. -->
	<packageSources>
		<add key="Repository local packages" value="Artifacts/Nugets"/>
	</packageSources>
	<config>
		<add key="DefaultPushSource" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
	</config>
</configuration>
