<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.4.0" newVersion="1.10.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>