<#@ template debug="True" language="C#" hostspecific="True" #>
<#@ include file="Includes\UnitTestClass.ttinclude" once="true"#>
<#@ import namespace="UnitsNet.ThirdParty.Units" #>
<#@ output extension=".txt" #> 
<# 
    var assembly = Assembly.GetAssembly(typeof (FooUnit));
    IEnumerable<UnitClassInfo> infos = TemplateUtils.GetUnitClasses(assembly);

    var m = Manager.Create(Host, GenerationEnvironment);
    foreach (UnitClassInfo info in infos)
    {
        m.StartNewFile(info.UnitClassName + "TestsBase.g.cs");
        GenerateTestClass(info);
        m.EndBlock();
    }
    
    m.Process(split: true);
#><#+

#>