<#@ template debug="True" language="C#" hostspecific="True" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ include file="Includes\UnitConverterTests.ttinclude" once="true" #>
<#@ output extension=".g.cs" #>
<#
    Dictionary<Unit, UnitAttribute> unitToAttribute = GetUnitToAttributeDictionary<UnitAttribute>();
    GenerateUnitConverterTests(unitToAttribute);
#><#+ #>