<#@ template debug="True" language="C#" hostspecific="True" #>
<#@ include file="Includes\UnitTestClass.ttinclude" once="true"#>
<#@ output extension=".txt" #> 
<# 
    
    var m = Manager.Create(Host, GenerationEnvironment);

    List<UnitAttribute> unitAttributes = GetUnitAttributeImplementations();

    foreach (UnitAttribute attr in unitAttributes)
    {
        Type unitAttributeType = attr.GetType();
        string unitClassName = unitAttributeType.Name.Replace("Attribute", string.Empty);
        GenerateTestClass(unitAttributeType, m, unitClassName, attr.BaseUnit);
    }
    
    m.Process(split: true);
#>