<#@ template debug="True" language="C#" hostspecific="True" #>
<#@ include file="Includes\UnitTestClass.ttinclude" once="true"#>
<#@ output extension=".g.cs" #> 
<# 
    var assembly = Assembly.GetAssembly(typeof (LengthUnit));
    IEnumerable<UnitClassInfo> infos = TemplateUtils.GetUnitClasses(assembly);

    var m = Manager.Create(Host, GenerationEnvironment);
    foreach (UnitClassInfo info in infos)
    {
        GenerateTestClass(m, info.UnitClassName, info.BaseUnitName, info.BaseUnitPluralName, info.OrderedUnits);
    }
    
    m.Process(split: true);
#><#+

#>